<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:replace="fragments/head :: head (My)"></div>
<body class="flex flex-col items-center justify-center">
<div th:replace="fragments/nav :: nav"></div>
<div class="my-5 w-2/5 flex justify-between items-center">
    <p class="text-lg font-bold">My posts</p>

    <div class="flex items-center -space-x-4 hover:space-x-1">
        <button
                class="z-10 block p-4 text-green-700 bg-green-100 border-2 border-white rounded-full transition-all active:bg-green-50 hover:scale-110 focus:outline-none focus:ring"
                th:onclick="|location.href='@{/post/create}'|"
                type="button"
        >
            <svg
                    class="w-4 h-4"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
            >
                <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M12 6v6m0 0v6m0-6h6m-6 0H6"
                />
            </svg>
        </button>



    </div>
</div>

<div class="overflow-x-auto w-2/5">
    <table
            class="min-w-full text-sm border border-gray-100 divide-y-2 divide-gray-200"
    >
        <thead>
        <tr class="divide-x divide-gray-100">
            <th
                    class="px-4 py-2 font-medium text-left text-gray-900 whitespace-nowrap"
            >
                Title
            </th>
            <th
                    class="px-4 py-2 font-medium text-left text-gray-900 whitespace-nowrap"
            >
                Views
            </th>
            <th
                    class="px-4 py-2 font-medium text-left text-gray-900 whitespace-nowrap"
            >
                Date
            </th>
            <th
                    class="px-4 py-2 font-medium text-left text-gray-900 whitespace-nowrap"
            >
                Author
            </th>
            <th
                    class="px-4 py-2 font-medium text-left text-gray-900 whitespace-nowrap"
            >
                Edit / Delete
            </th>
        </tr>
        </thead>

        <tbody class="divide-y divide-gray-200">
        <tr th:each="post : ${posts}" class="divide-x divide-gray-100">
            <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap">
                <a
                        class="underline text-blue-600"
                        th:text="${post.title}"
                        th:href="@{/post/{id}(id = ${post.id})}"
                ></a>
            </td>
            <td
                    th:text="${post.views}"
                    class="px-4 py-2 text-gray-700 whitespace-nowrap"
            ></td>
            <td
                    th:text="${post.date}"
                    class="px-4 py-2 text-gray-700 whitespace-nowrap"
            ></td>
            <td
                    th:text="${post.author}"
                    class="px-4 py-2 text-gray-700 whitespace-nowrap"
            ></td>
            <td class="flex justify-center px-4 py-2 text-gray-700 whitespace-nowrap">
                <div class="flex">
                    <button
                            class="z-20 mr-1 block p-4 text-blue-700 bg-blue-100 border-2 border-white rounded-full transition-all active:bg-blue-50 hover:scale-110 focus:outline-none focus:ring"
                            type="button"
                    >
                        <svg
                                class="w-4 h-4"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                        >
                            <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"
                            />
                        </svg>
                    </button>
                    <button
                            class="z-30 block ml-1 p-4 text-red-700 bg-red-100 border-2 border-white rounded-full transition-all hover:scale-110 focus:outline-none focus:ring active:bg-red-50"
                            type="button"
                    >
                        <svg
                                class="w-4 h-4"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                        >
                            <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                            />
                        </svg>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>

