<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:replace="fragments/head :: head (${post.title})"></div>
<body class="flex flex-col items-center justify-center">
<div th:replace="fragments/nav :: nav"></div>
<div class="overflow-hidden overflow-x-auto border w-4/6 mt-5">
    <table class="min-w-full text-sm divide-y divide-gray-200">
        <thead>
        <tr class="bg-gray-50">
            <th
                    class="px-4 py-2 font-medium text-left border-r text-gray-900 whitespace-nowrap"
            >
                Title
            </th>
            <th
                    class="px-4 py-2 font-medium text-left border-r text-gray-900 whitespace-nowrap"
            >
                Views
            </th>
            <th
                    class="px-4 py-2 font-medium text-left border-r text-gray-900 whitespace-nowrap"
            >
                Author
            </th>
            <th
                    class="px-4 py-2 font-medium text-left text-gray-900 whitespace-nowrap"
            >
                Date
            </th>
        </tr>
        </thead>

        <tbody class="divide-y divide-gray-100">
        <tr>
            <td th:text="${post.title}" class="px-4 py-2 font-medium border-r text-gray-900 whitespace-nowrap"></td>
            <td th:text="${post.views}" class="px-4 py-2 text-gray-700 border-r whitespace-nowrap"></td>
            <td th:text="${post.author}" class="px-4 py-2 text-gray-700 border-r whitespace-nowrap"></td>
            <td th:text="${post.date}" class="px-4 py-2 text-gray-700 whitespace-nowrap"></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:utext="${post.content}" class="flex flex-col w-4/6 border-b border-l border-r p-5"></div>
<div th:classappend="${#authentication.getPrincipal().getUsername() == post.author ? '' : 'hidden'}" class="flex w-4/6 m-2 justify-end">
    <button
            class="z-20 mr-1 block p-4 text-blue-700 bg-blue-100 border-2 border-white rounded-full transition-all active:bg-blue-50 hover:scale-110 focus:outline-none focus:ring"
            th:onclick="|location.href='@{post/update/{id}(id = ${post.id})}'|"
            type="button"
    >
        <svg
                class="w-4 h-4"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
        >
            <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"
            />
        </svg>
    </button>
    <button
            class="z-30 block ml-1 p-4 text-red-700 bg-red-100 border-2 border-white rounded-full transition-all hover:scale-110 focus:outline-none focus:ring active:bg-red-50"
            type="button"
    >
        <svg
                class="w-4 h-4"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
        >
            <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
            />
        </svg>
    </button>
</div>

</body>
</html>