<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:replace="fragments/head :: head (Home)"></div>
<body class="flex flex-col items-center">
<div th:replace="fragments/nav :: nav"></div>
<header class="my-16">
    <div class="px-4 py-8 mx-auto max-w-screen-xl sm:py-12 sm:px-6 lg:px-8">
        <div class="sm:justify-between sm:items-center sm:flex">
            <div class="text-center sm:text-left">
                <h1 th:text="'Welcome back, ' + ${#authentication.getPrincipal().getUsername}" sec:authorize="isAuthenticated()" class="text-2xl font-bold text-gray-900 sm:text-3xl"></h1>

                <p sec:authorize="isAuthenticated()" class="mt-1.5 text-sm text-gray-500">
                    Let's write a new post! 🎉
                </p>

                <h1 sec:authorize="isAnonymous()" class="text-2xl font-bold text-gray-900 sm:text-3xl">
                    Let's write a new post! 🎉
                </h1>

                <p sec:authorize="isAnonymous()" class="mt-1.5 text-sm text-gray-500">
                    You can write a post by logging in! ✨
                </p>
            </div>
        </div>
    </div>
</header>

<div class="flex my-2 items-center -space-x-4 hover:space-x-1">
    <button
            class="z-10 block p-4 text-green-700 bg-green-100 border-2 border-white rounded-full transition-all active:bg-green-50 hover:scale-110 focus:outline-none focus:ring"
            th:onclick="|location.href='@{/post/create}'|"
            type="button"
    >
        <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
        </svg>
    </button>

    <button
            class="z-20 block p-4 text-blue-700 bg-blue-100 border-2 border-white rounded-full transition-all active:bg-blue-50 hover:scale-110 focus:outline-none focus:ring"
            th:onclick="|location.href='@{/my}'|"
            type="button"
    >
        <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
        </svg>
    </button>
</div>

<div class="overflow-x-auto">
    <table class="min-w-full text-sm border border-gray-100 divide-y-2 divide-gray-200">
        <thead>
            <tr class="divide-x divide-gray-100">
                <th class="px-4 py-2 font-medium text-left text-gray-900 whitespace-nowrap">Title</th>
                <th class="px-4 py-2 font-medium text-left text-gray-900 whitespace-nowrap">Views</th>
                <th class="px-4 py-2 font-medium text-left text-gray-900 whitespace-nowrap">Author</th>
                <th class="px-4 py-2 font-medium text-left text-gray-900 whitespace-nowrap">Date</th>
            </tr>
        </thead>

        <tbody class="divide-y divide-gray-200">
            <tr th:each="post : ${posts}" class="divide-x divide-gray-100">
                <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap">
                    <a class="underline text-blue-600" th:text="${post.title}" th:href="@{/post/{id}(id = ${post.id})}"></a>
                </td>
                <td th:text="${post.views}" class="px-4 py-2 text-gray-700 whitespace-nowrap"></td>
                <td th:text="${post.author}" class="px-4 py-2 text-gray-700 whitespace-nowrap"></td>
                <td th:text="${post.date}" class="px-4 py-2 text-gray-700 whitespace-nowrap"></td>
            </tr>
        </tbody>
    </table>
</div>


<div th:replace="fragments/pagination :: pagination"></div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
