<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:replace="fragments/head :: head (Home)"></div>
<body class="flex flex-col items-center">
<div th:replace="fragments/nav :: nav"></div>
<header class="my-16">
    <div class="px-4 py-8 mx-auto max-w-screen-xl sm:py-12 sm:px-6 lg:px-8">
        <div class="sm:justify-between sm:items-center sm:flex">
            <div class="text-center sm:text-left">
                <h1 th:text="'Welcome back, ' + ${#authentication.getPrincipal().getUsername}" sec:authorize="isAuthenticated()" class="text-2xl font-bold text-gray-900 sm:text-3xl"></h1>

                <p sec:authorize="isAuthenticated()" class="mt-1.5 text-sm text-gray-500">
                    Let's write a new post! 🎉
                </p>

                <h1 sec:authorize="isAnonymous()" class="text-2xl font-bold text-gray-900 sm:text-3xl">
                    Let's write a new post! 🎉
                </h1>

                <p sec:authorize="isAnonymous()" class="mt-1.5 text-sm text-gray-500">
                    You can write a post by logging in! ✨
                </p>
            </div>
        </div>
    </div>
</header>

<div class="w-full md:px-60">
    <div class="overflow-x-auto">
        <table class="min-w-full text-sm divide-y-2 divide-gray-200">
            <thead>
            <tr>
                <th
                        class="px-4 py-2 font-medium text-left text-gray-900 whitespace-nowrap"
                >
                    Title
                </th>
                <th
                        class="px-4 py-2 font-medium text-left text-gray-900 whitespace-nowrap"
                >
                    Username
                </th>
                <th
                        class="px-4 py-2 font-medium text-left text-gray-900 whitespace-nowrap"
                >
                    Date
                </th>
                <th
                        class="px-4 py-2 font-medium text-left text-gray-900 whitespace-nowrap"
                >
                    Views
                </th>
            </tr>
            </thead>

            <tbody class="divide-y divide-gray-200">
            <tr>
                <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap">
                    Orange
                </td>
                <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap">
                    John Doe
                </td>
                <td class="px-4 py-2 text-gray-700 whitespace-nowrap">
                    24/05/1995
                </td>
            </tr>

            <tr>
                <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap">
                    Potato
                </td>
                <td class="px-4 py-2 font-medium whitespace-nowrap">Jane Doe</td>
                <td class="px-4 py-2 text-gray-700 whitespace-nowrap">
                    04/11/1980
                </td>
            </tr>

            <tr>
                <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap">
                    Grape
                </td>
                <td class="px-4 py-2 font-medium whitespace-nowrap">
                    Gary Barlow
                </td>
                <td class="px-4 py-2 text-gray-700 whitespace-nowrap">
                    24/05/1995
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:replace="fragments/pagination :: pagination"></div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
